form {
  &#contact {
    border: 1px solid $form-border-color;
    padding: $gutter;

    div {
      margin-bottom: $gutter;

      label {
        display: block;
        color: $form-label-color;
        margin-bottom: $gutter / 2;
      }

      input {
        font-size: $font-size-base;
        padding: 3px 12px;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      textarea {
        width: 100%;
        resize: vertical;
        min-height: 131px;

        &:focus {
          outline: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .error {
        color: darken(red, 5%);
      }
    }

    button {
      color: $form-button-color;
      text-transform: uppercase;
      letter-spacing: 2.8px;
      padding: ($gutter / 2) $gutter;
      background-color: $theme-color;
      border: none;
      outline: 0;
      cursor: pointer;
      transition: background-color .3s;

      &:hover {
        background-color: darken($theme-color, 5%);
      }

      @include break($mobile) {
        width: 100%;
      }
    }
  }
}
