.highlights {
  background-color: $gray;
  margin-bottom: 30px;
  padding: $gutter 0;
  @include clearfix;

  > div {
    float: left;
    width: 33.33%;
    padding-left: $gutter;

    p {
      margin: 0;
    }

    &:last-child {
      padding-right: $gutter;
    }
  }

  @include break($mobile) {
    > div {
      float: none;
      width: 100%;
      margin-bottom: $gutter;
      padding-right: $gutter;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
