#logo {
  display: inline-block;
  margin-bottom: -9px;

  a {
    font-size: 60px;
    text-decoration: none;
    color: $logo-color;
    transition: color .3s;

    &:hover {
      color: darken($logo-color, 10%);
    }
  }

  @include break($mobile) {
    a {
      padding-left: $gutter;
      font-size: 50px;
    }
  }
}

#footer-logo {
  a {
    font-size: 31px;
    text-decoration: none;
    color: $white;
    transition: color .3s;

    &:hover {
      color: darken($white, 20%);
    }
  }
}
