#nav-burger {
  display: none;
  padding: $gutter;
  float: right;
  position: absolute;
  top: 5px;
  right: 0;

  span {
    width: 20px;
    height: 2px;
    background-color: $white;
    display: block;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:focus {
    outline: 0;
  }

  @include break($lowres-tablet) {
    display: block;
  }
}
