nav {
  &.header {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    width: auto;
    text-align: right;

    ul {
      &.nav {
        padding: 0;
        margin: 0;
        margin-bottom: 45px;

        li {
          list-style-type: none;
          display: inline;
          vertical-align: bottom;
          position: relative;
          padding-bottom: 20px;
          margin-right: 20px;

          a {
            color: $white;
            transition: color .3s;
            text-decoration: none;
          }

          &:hover {
            a {
              color: #333;
            }
          }

          .dropdown {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            background-color: $dropdown-bg-color;
            top: 41px;
            left: -50%;
            right: 0;
            margin: 0 auto;
            width: 200%;
            transform: scaleY(0);
            transform-origin: top;
            transition: all .3s ease-in-out;

            &.open {
              visibility: visible;
              opacity: 1;
              transform: scaleY(1);
            }

            ul {
              margin: 0;
              padding: 0;

              li {
                list-style-type: none;
                display: block;
                text-align: left;
                padding: 0 ($gutter / 2) 0 7px;
                margin-bottom: 3px;
                margin-right: 0;
                transition: all .3s ease-in-out;

                a {
                  font-size: 12px;
                  padding: 5px 0;
                  width: 100%;
                  display: block;
                  color: $white;
                }

                &:hover {
                  background-color: lighten($dropdown-bg-color, 15%);

                  a {
                    color: $white;
                  }
                }
              }
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: -($gutter / 2);
              left: 0;
              right: 0;
              margin: 0 auto;
              width: 0;
              height: 0;
              border-left: ($gutter / 2) solid transparent;
              border-right: ($gutter / 2) solid transparent;
              border-bottom: ($gutter / 2) solid $dropdown-bg-color;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

        &:last-child {
          margin-bottom: 0;

          li {
            font-size: 20px;
          }
        }
      }
    }

    @include break($lowres-tablet) {
      display: none;
      position: static;
      text-align: center;
      margin-top: 20px;

      ul {
        &.nav {
          margin-bottom: 0;

          li {
            display: block;
            margin: 0;

            a {
              font-size: $font-size-base;
            }

            .dropdown {
              max-height: 0;
              position: relative;
              background-color: $dropdown-bg-color;
              top: $gutter / 2;
              left: 0;
              width: 100%;
              transition: all .3s ease-in-out;

              ul {
                li {
                  text-align: center;
                }
              }

              &.open {
                max-height: 100%;
                left: 0;
              }
            }
          }
        }
      }
    }

    @include break-up($lowres-tablet) {
      display: block !important;
    }
  }

  &.footer {
    ul {
      margin-bottom: 25px;
      margin-top: 0;
      padding: 0;

      li {
        display: inline-block;
        color: $white;

        a {
          text-decoration: none;
          color: $white;
          padding-right: $gutter / 2;
          padding-left: $gutter / 2;
          transition: color .3s;

          &:hover {
            color: darken($white, 20%);
          }
        }

        &:after {
          content: '|';
        }

        &:first-child {
          a {
            padding-left: 0;
          }
        }

        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }

    @include break($mobile) {
      ul {
        li {
          display: block;
          text-align: center;
          padding-bottom: 5px;

          a {
            padding: 0;
          }

          &:after {
            content: '';
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
