ul {
  &.readmore {
    padding: 0;
    margin-bottom: 0;

    li {
      list-style-type: none;
      border-bottom: 1px solid rgba($black, 0.2);
      padding: 5px 0;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
