@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin break($maxWidth) {
  @media (max-width: $maxWidth) {
    @content;
  }
}

@mixin break-up($minWidth) {
  @media (min-width: ($minWidth + 1px)) {
    @content;
  }
}
