$headingSizes: (
  h1: $h1-font-size,
  h2: $h2-font-size
);

@each $element, $size in $headingSizes {
  #{$element} {
    font-size: $size;
    font-family: "Times New Roman";
    font-weight: bold;
    margin: 0;
  }
}

p {
  color: $paragraph-color;
  line-height: 20px;
}

a {
  color: $anchor-color;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: darken($anchor-color, 10%);
  }
}
