article {
  &.content {
    display: inline-block;
    width: 66.66%;
    padding-right: $gutter / 2;
    float: left;
    margin-bottom: $gutter;

    .article-group {
      > div {
        float: left;
        width: 50%;

        &:first-child {
          padding-right: $gutter / 2;
        }

        &:last-child {
          padding-left: $gutter / 2;
        }
      }

      @include clearfix;
    }

    @include break($lowres-tablet) {
      width: 100%;
      float: none;
      padding-right: 0;
    }

    @include break($mobile) {
      .article-group {
        > div {
          float: none;
          width: 100%;
          padding: 0 !important;
          margin-bottom: $gutter;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
