aside {
  &.content-sidebar {
    display: inline-block;
    width: 33.33%;
    float: left;
    padding-left: $gutter / 2;
    margin-bottom: $gutter;

    article {
      margin-bottom: 30px;

      h2 {
        border-bottom: 3px solid $black;
        padding-bottom: $gutter / 2;
        margin-bottom: 17px;
      }
    }

    @include break($lowres-tablet) {
      width: 100%;
      float: none;
      padding-left: 0;
    }

    @include break($mobile) {
      padding: 0 $gutter;
    }
  }
}
