footer {
  background-color: $footer-bg-color;
  padding: $gutter 0;

  .copyright {
    position: relative;
    @include clearfix;

    p {
      color: $footer-color;
      display: inline-block;
      width: 85%;
      float: left;
      font-size: 12px;
      margin: 0;
      padding-right: ($gutter / 2);
    }

    #footer-logo {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
    }
  }

  @include break($mobile) {
    .copyright {
      p {
        display: block;
        width: 100%;
        padding-left: $gutter;
        padding-right: $gutter;
        margin-bottom: $gutter;
        text-align: center;
      }

      #footer-logo {
        position: static;
        width: 100%;
        text-align: center;
      }
    }
  }
}
