header {
  &.main {
    background-color: $theme-color;
    margin-bottom: $gutter * 2;
    padding-top: $gutter * 2;
    padding-bottom: 18px;

    .wrapper {
      position: relative;
    }

    @include break($lowres-tablet) {
      padding: $gutter 0;
      margin-bottom: $gutter;
    }
  }
}
