.wrapper {
  max-width: $wrapper-max-width-desktop;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;

  @include break($tablet) {
    max-width: $wrapper-max-width-tablet;
  }

  @include break($lowres-tablet) {
    max-width: $wrapper-max-width-lowres-tablet;
  }

  @include break($mobile) {
    width: $wrapper-max-width-mobile;
  }
}
