<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Site</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  </head>

  <body>
    <header class="main">
      <div class="wrapper">
        <div id="logo">
          <a href="#">The Site</a>
        </div>
        <a href="#" id="nav-burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <nav class="header">
          <ul class="nav top">
            <li><a href="#">menu-link</a></li>
            <li><a href="#">menu-link</a></li>
            <li><a href="#">menu-link</a></li>
          </ul>
          <ul class="nav">
            <li>
              <a href="#">menu-link</a>
              <div class="dropdown">
                <ul>
                  <li><a href="#">Integer eget mauris</a></li>
                  <li><a href="#">Pulvinar consectetur</a></li>
                  <li><a href="#">Oget mauris praesent</a></li>
                  <li><a href="#">Interdum justo</a></li>
                  <li><a href="#">Nec neque fringilla</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">menu-link</a>
              <div class="dropdown">
                <ul>
                  <li><a href="#">Integer eget mauris</a></li>
                  <li><a href="#">Pulvinar consectetur</a></li>
                  <li><a href="#">Oget mauris praesent</a></li>
                  <li><a href="#">Interdum justo</a></li>
                  <li><a href="#">Nec neque fringilla</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">menu-link</a>
              <div class="dropdown">
                <ul>
                  <li><a href="#">Integer eget mauris</a></li>
                  <li><a href="#">Pulvinar consectetur</a></li>
                  <li><a href="#">Oget mauris praesent</a></li>
                  <li><a href="#">Interdum justo</a></li>
                  <li><a href="#">Nec neque fringilla</a></li>
                  <li><a href="#">Integer eget mauris</a></li>
                  <li><a href="#">Pulvinar consectetur</a></li>
                  <li><a href="#">Oget mauris praesent</a></li>
                  <li><a href="#">Interdum justo</a></li>
                  <li><a href="#">Nec neque fringilla</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">menu-link</a>
              <div class="dropdown">
                <ul>
                  <li><a href="#">Integer eget mauris</a></li>
                  <li><a href="#">Pulvinar consectetur</a></li>
                  <li><a href="#">Oget mauris praesent</a></li>
                  <li><a href="#">Interdum justo</a></li>
                  <li><a href="#">Nec neque fringilla</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="wrapper">
        <article class="content">
          <div class="wbox content">
            <h1>Aenean ac diam nec neque fringilla</h1>
            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>

            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>

            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>

            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>

            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>
          </div>

          <div class="article-group">
            <div>
              <div class="wbox">
                <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius. Dorce
                  pila meracone.</p>
              </div>
            </div>

            <div>
              <div class="wbox">
                <h2>Aenean ac diam nec neque</h2>
                <ul class="readmore">
                  <li><a href="#">Integer eget mauris et urna </a></li>
                  <li><a href="#">Pulvinar consectetur hendrerit</a></li>
                  <li><a href="#">Oget mauris praesent</a></li>
                </ul>
              </div>
            </div>
          </div>
        </article>

        <aside class="content-sidebar">
          <article>
            <h2>Aenean ac diam nec neque fringilla</h2>
            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>
          </article>

          <form id="contact">
            <div>
              <label for="firstName">First name:</label>
              <input type="text" id="firstName" name="firstName" placeholder="Enter your name" required>
            </div>
            <div>
              <label for="lastName">Last name:</label>
              <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" required>
            </div>
            <div>
              <label for="message">Message:</label>
              <textarea id="message" name="message" required></textarea>
            </div>

            <div class="button">
              <button type="submit">Submit</button>
            </div>
          </form>
        </aside>
      </div>

      <div class="wrapper">
        <div class="highlights">
          <div>
            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>
          </div>
          <div>
            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>
          </div>
          <div>
            <p>Integer eget mauris et urna pulvinar consectetur hendrerit eget mauris. Praesent a interdum justo. Aenean ac diam nec neque fringilla cursus. Donec iaculis tortor in nunc vehicula rutrum. Integer malesuada mollis ligula at varius.</p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="wrapper">
        <nav class="footer">
          <ul>
            <li><a href="#">menu link</a></li>
            <li><a href="#">menu link</a></li>
            <li><a href="#">menu link</a></li>
            <li><a href="#">menu link</a></li>
            <li><a href="#">menu link</a></li>
            <li><a href="#">menu link</a></li>
          </ul>
        </nav>

        <div class="copyright">
          <p>Nullam mattis luctus dolor, sed gravida tellus volutpat vel. Maecenas mollis augue sed tortor molestie ornare. Proin dapibus dictum eros ut adipiscing. Nullam ultrices dolor ut tristique sollicitudin. Integer scelerisque urna est, sit amet aliquet sapien accumsan quis. Nullam luctus semper vulputate. Nulla egestas urna nec tellus ultrices elementum. Proin dapibus dictum eros ut adipiscing. Nullam ultrices dolor ut tristique sollicitudin. Integer scelerisque</p>

          <div id="footer-logo">
            <a href="#">The Site</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
