$font-size-base:                             14px;
$font-family-base:                           "Trebuchet MS";
$body-bg-color:                              #e6e6e6;

$theme-color:                                #d3135a;
$logo-color:                                 #ffc2dd;
$white:                                      #fff;
$black:                                      #000;
$gray:                                       #ccc;

$h1-font-size:                               37px;
$h2-font-size:                               24px;
$paragraph-color:                            #4d4d4d;
$anchor-color:                               #0071bc;
$footer-bg-color:                            #666666;
$footer-color:                               #b3b3b3;
$dropdown-bg-color:                          #4d4d4d;
$form-label-color:                           #010101;
$form-border-color:                          #898989;
$form-button-color:                          #fefefe;

$gutter:                                     20px;

// Wrapper max-widths
$wrapper-max-width-desktop:                  1010px;
$wrapper-max-width-tablet:                   760px;
$wrapper-max-width-lowres-tablet:            600px;
$wrapper-max-width-mobile:                   100%;

// Breakpoints (max screen widths)
$tablet:                                     1150px;
$lowres-tablet:                              910px;
$mobile:                                     630px;
